@keyframes flash {
    25% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
  }
  
  .flashing-button {
    animation: flash 2s infinite;
  }

  .history{
    max-height: 300px;
    overflow-y: auto;
  }