#planning {
    width: 100vw;
    max-width: 100vw;
    padding: 0;
    font-size: 20px
}

#planning .table tbody tr {
    /* Change row height */
    height: 80px;
}

.name {
    font-weight: bold;
}

.backgroundIcon {
    position: absolute; 
    /* Middle */
    bottom : 2px;
    right : 5px;
    z-index: 3;
    color: white;
} 

#centralMessage {
    /* At the center of the screen */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

#news {
    /* Stick at the bottom */
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px;
    font-size: 20px;
}

/* https://codepen.io/lewismcarey/pen/GJZVoG */


@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}
.ticker-wrap, #title{
    background-color: rgba(0, 0, 0, 0.2);
}

.ticker-wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    padding-left: 100%;
    box-sizing: content-box;
}

.ticker-wrap .ticker {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
}

.ticker-wrap .ticker .ticker__item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 1.5rem;
    color: white;
}